@import "reset.css";
body {
  background:url("../img/background.png") no-repeat ;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%;
  text-align: center;
  white-space: nowrap;
}

a{
  text-decoration: none;
  color:#3CB878;
}

.color{
  color:white;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.color:hover{
  color:#01813F;
}

.nav{
  width:100% auto;
  white-space: nowrap; 
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  padding-left: 79px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: auto;
  justify-content: space-between;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.box1{
  padding-left:10px;
  font-size: 14px
}

.box2{
  margin-left:27px;
}

.box3{
  margin-left:24px;
}



.grean{
  text-decoration: none;
  color:#FFFFFF;
  font-family: Ubuntu;
}

.or{
  color: #FFFFFF;
}

.grean:hover{
  color:#3CB878;
  font-family: Ubuntu;
}

main{
  width:444px;
  height: 610px;
  background-color: #FFFFFF;
  margin-top:54px;
  margin-left: auto;
  margin-right: auto;
}

.registration{
  display:flex;
}

.box4{
  padding-top:33px;
}

.box5{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  padding-left:42px;
  padding-top:31px;
  color: #434343;
}

.box6{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding-left:216px;
  padding-top:33px;
}

.box6:hover{
  text-decoration: underline;
  color: #01813F;
}

.buttons-settings{
  display: flex;
  text-align: center;
  border: none;
}

.box7{
  margin-top:12px;
  margin-bottom:6px;
  margin-left: 10px;
  width: 24px;
  height: 12.46px;
}

.box8{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.box9{
  margin-top:14px;
  margin-bottom:7px;
  margin-left:19px;
}

.box10{
  margin-top:10px;
  margin-bottom:6px;
  margin-left: 4px;
  width: 24px;
  height: 12.46px;
}

.box11{
  margin-left: 10px;
  margin-top: 6px;
}

.box12{
  margin-top:10px;
  margin-bottom:7px;
  margin-left:29px;
}

.section{
  display: flex;
}

.button1{
  width:160px;
  height: 48px;
  background-color:#305DB8;
  border: none;
  border-radius: 4px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  margin-left:60px;
  margin-top:15px;
}

.button1:hover{
  background-color: #022263;;
}

.button2{
  width:160px;
  height: 48px;
  background-color:#DF4A32;
  border: none;
  border-radius: 4px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  padding-top:2px;
  color: #FFFFFF;
  margin-left: 4px;
  margin-right: 60px;
  margin-top:15px;
}

.button2:hover{
  background-color: #AB1F09;;
}

.midle-world{
  color:#848484;
  padding-top: 31px;
  padding-bottom: 10px;
  margin-right: 2px;
}

.midle-world:before{
  margin-left: 30px;
  content: '';
  border-top: 2px solid #f6f5f5;
  margin-top: .6em;
  width: 140px;
  height: 1px;
  position: fixed;
}

.form-control{
  width: 324px;
  height: 46px;
  margin-top: 13px;
  border: none;
}

.form-control:hover{
  font-size: 14px;box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.21);
}

.grean-text{
  color: #3CB878;
}

.grean-text:hover{
  color:#01813F;
  text-decoration: underline;
}

.cheakbox{
  margin-top:12px; 
}

.footer-button{
  width: 324px;
  height: 46px;
  margin-top: 20px;
  background-color:rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer-button:hover{
  background-color:  #01813F;
}

.compass {
  fill: white;
}

.compass:hover {
  fill: #01813F;;
}

.calendar{
  fill: white;
  margin-left:100px;
}

.calendar:hover {
  fill: #01813F;;
}

.mail {
  fill: white;
  padding: 0 25px;
}

.mail:hover {
  fill: #01813F;;
}

.compass {
  fill: white;

}

.compass:hover {
  fill: #01813F;;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  padding-left: 79px;
  margin-top: 6px;
  text-decoration: none;
  font-family: Ubuntu;
}

.title:hover {
  color: #01813F;;
}

.header_links {
  display: flex;
  align-items: center;
}

.heder-color{
  color:white;
  margin-right: 59px;
  margin-bottom: 8px;
  margin-top:10px;
  margin-left: 12px;
}

.rectangle{
  margin-left:25px;
  background: rgba(255, 255, 255, 0.9);
  margin-right: 27px;;
}
